.navigation {
    box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.08);
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-grey-light-1;
    z-index: 100;
    display: block;
    padding: 0.5rem;
    width: 100%;

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 7rem;
        min-width: 50px;
        padding: 0.1rem;

        @include respond(phone) {
            width: 9rem;
        }
    }

    &__title {
        float: left;
        font-size: 2.5rem;
        font-weight: 400;
        margin-left: 7rem;
        padding: 0.1rem 0;

        @include respond(phone) {
            margin-left: 8rem;
        }
    }

    &__links {
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.5rem 0 0.5rem 2rem;

        &--link {
            font-size: 1.5rem;
            padding: 0 1rem;
            text-decoration: none;
            color: $color-grey-dark-2;

            @include respond(tabLand) {
                padding: 1.8rem;
            }

            @include respond(phone) {
                padding: 1.25rem;
            }

            @include respond(tinyPhone) {
                padding: 0.4rem;
            }
        }

        &--signup {
            background: rgb(4, 190, 44);
            border-radius: 0.3rem;
            font-weight: 400;
            margin-left: 0.5rem;
            margin-right: 2rem;
            padding: 1rem 2rem;
            color: white;

            @include respond(tabLand) {
                margin-right: 1rem;
                padding: 0.75rem;
            }

            @include respond(phone) {
                margin-right: 0;
                padding: 0.5rem;
            }

            @include respond(tinyPhone) {
                padding: 0;
            }
        }

        &--username {
            font-weight: 400;
        }
    }
}
