.activities {
    padding: 1rem 3rem;
    margin-top: 6rem;
    width: 57%;

    @include respond(tabLand) {
        width: 100%;
    }

    @include flexSupport {
        flex-basis: 57%;

        @include respond(tabLand) {
            flex-basis: 100%;
        }
    }

    &__box {
        background-image: url($activities);
        background-position: center;
        border-radius: 1rem;
        padding: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around; //main
        align-items: stretch;
        align-content: flex-start;
        flex-wrap: wrap;

        @include respond(phone) {
            background-image: url($activities-mobile);
            margin: 0 -3rem;
            padding: 3rem;
        }

        @include respond(tinyPhone) {
            background-image: url($activities-tiny-mobile);
        }
    }

    &__activity {
        width: 30%;
        margin-bottom: 3rem;
        background-color: rgba($color-white, 0.95);
        padding: 2rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
        transition: all 0.3s;

        @include respond(phone) {
            padding: 2rem 0.5rem;
            width: 47%;
        }

        @include respond(tinyPhone) {
            width: 100%;
        }

        @include flexSupport {
            flex-basis: 30%;
            flex-shrink: 1;

            @include respond(phone) {
                flex-basis: 47%;
            }

            @include respond(tinyPhone) {
                flex-basis: 100%;
            }
        }

        &:hover {
            transform: scale(1.05) translateY(-1.5rem);
        }

        &--icon {
            text-align: center;

            & > * {
                height: 50px;
                width: 50px;
                fill: currentColor;
                display: inline-block;
            }
        }

        &--exampleList {
            list-style-type: none;
        }
    }
}
