.caricom {
    padding: 3rem;
    width: 65%;

    @include respond(tabLand){
        width: 49%;
    }

    @include respond(phone){
        padding: 1rem 3rem;
        width: 100%;
    }

    @include flexSupport {
        flex-basis: 65%;
        
        @include respond(tabLand){
            flex-basis: 49%;
        }

        @include respond(phone){
            flex-basis: 100%;
        }
    }
    
    &__map {
        float: left;
        padding-right: 3rem;
        margin-bottom: 1rem;
        width: 50%;    
    
        @include respond(tabLand){
            padding-right: 0;
            width:100%;
        }

        &--image {
            width: 100%;
            height: auto; 

            @include respond(phone){
                padding: 0 3rem;
            }

            @include respond(tinyPhone){
                padding: 0;
            }
        }
        
        &--caption {
            text-align: center;
            display: block;
        }
    }

    &__text {
        text-align: justify;
    }
}