.membership {
    flex-basis: 31%;
    padding: 3rem;
    
    @include respond(tabLand){
        flex-basis: 45%;
    }    

    @include respond(phone){
        flex-basis: 100%;
    }    

    &__frequency {
        margin-bottom: 1rem;
    
        &--main {
            font-size: 2.5rem;
        }
        &--exception {
            font-size: 1.8rem;   
        }
    
    }

    &__detail {
        text-align: justify;
    
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}