.nextMeeting {
    background-color: $color-tertiary;
    z-index: -100;
    text-align: right;
    color: $color-grey-dark-3;
    padding: 1.7rem 3rem 1.5rem 3rem;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        margin-top: -8vh;
        
        @include respond(tabLand) {
            margin-top: -3vh;
        }
    }

    &__title {
        font-size: 2.7rem;
        font-weight: 400;

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__date {
        margin-top: -1rem;
        font-weight: 400;

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
}