.specialEvent {
    @include absCenter;
    padding: 2rem;
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
    border-radius: 3px;
    overflow: auto;
    max-height: 95%;

    &__banner {
        cursor: pointer;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        margin-top: 0.5rem;
        padding: 0.5rem 2rem;
        background-color: #007bff;
        color: white;
        text-transform: uppercase;
        border-radius: 0.6rem;
        box-shadow: 0 0.3rem 0.2rem rgba($color-black, 0.3);

        &--modal {
            margin: -2rem 0 2rem 0;
        }
    }

    &__details {
        height: 80vh;
        max-height: 600px;
    }

    &__venue {
        margin: 1rem 0;
        width: 80%;
        height: 12rem;
    }

    &__total {
        margin: 0 auto;
        font-size: 2.3rem;
    }

    &__ticket {
        margin: 1.5rem auto;
        min-width: 30rem;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: top;
        text-align: start;

        &--title {
            flex-basis: 40%;
            p:last-of-type {
                display: none;
            }

            p:nth-of-type(1) {
                align-self: center;
                font-weight: 400;
                font-size: 2.2rem;
                white-space: nowrap;

                @include respond(phone) {
                    font-size: 2rem;
                }
            }
            p:nth-of-type(2) {
                margin-top: -0.5rem;
                white-space: nowrap;
            }
        }

        &--price {
            text-align: end;
            flex-basis: 30%;
            font-weight: 400;
            font-size: 1.8rem;
            padding-right: 1rem;
        }

        &--select {
            flex-basis: 30%;
            height: 3.5rem;
            line-height: 3.5rem;
            border: 1px solid rgba(gray, 0.3);
            font-family: inherit;
            font-weight: 300;
            font-size: 2rem;

            @include respond(phone) {
                padding: 0.5rem;
                font-size: 1.8rem;
            }
        }
    }
}
