.specialEvent {
    @include absCenter;
    padding: 3rem;
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
    border-radius: 3px;
    overflow: auto;
    max-height: 95%;

    &__header {
        padding: 0 1.5rem;
    }

    &__banner {
        cursor: pointer;
        font-weight: 400;
        display: inline-block;
        margin-top: 0.5rem;
        padding: 0.5rem 2rem;
        background-color: #007bff;
        color: white;
        text-transform: uppercase;
        border-radius: 0.6rem;
        box-shadow: 0 0.3rem 0.2rem rgba($color-black, 0.3);
    }

    &__date {
        font-size: 2rem;
        font-weight: 400;
    }

    &__venue {
        margin: 2rem 0;
        width: 80%;
        height: 12rem;
    }

    &__ticket {
        margin: 1.5rem auto;
        min-width: 30rem;
        width: 80%;
        display: flex;
        flex-wrap: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;

        &--header {
            @include respond(phone) {
                font-size: 1.45rem;
            }
        }

        &--title {
            width: 40%;

            p:last-of-type {
                display: none;
            }
            p:nth-of-type(1) {
                font-weight: 400;
                font-size: 1.8rem;

                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }
            p:nth-of-type(2) {
                margin-top: -0.5rem;

                @include respond(phone) {
                    font-size: 1.3rem;
                }
            }
        }

        &--price {
            font-weight: 400;
            font-size: 1.8rem;

            @include respond(phone) {
                font-size: 1.6rem;
            }
        }

        &--select {
            border: 1px solid rgba(gray, 0.3);
            font-family: inherit;
            font-weight: 300;
            font-size: 1.8rem;

            @include respond(phone) {
                padding: 0.5rem;
                font-size: 1.6rem;
            }
        }
    }
}
