//colors and gutters etc
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: rgb(104, 160, 139);
$color-secondary:  rgb(238, 106, 58);
$color-tertiary: #FED44A; 

$header: '../assets/images/junkanoo.jpg'; 
$activities: '../assets/images/floral-pattern.jpg'; 
$photos: '../assets/images/brushstroke.png'; 