//colors and gutters etc
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: rgb(136, 136, 136);
$color-grey-dark-2: #4b4b4b;
$color-grey-dark-3: #3a3a3a;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #68a08b;
$color-secondary: #ee6a3a;
$color-tertiary: #fed44a;

$header: '../assets/images/hero.jpg';
$header-mobile: '../assets/images/hero-mobile.jpg';
$header-tiny-mobile: '../assets/images/hero-tiny-mobile.jpg';
$activities: '../assets/images/features.jpg';
$activities-mobile: '../assets/images/features-mobile.jpg';
$activities-tiny-mobile: '../assets/images/features-tiny-mobile.jpg';

//md-cyan-500
//md-orange-a-700
