//colors and gutters etc
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: rgb(136, 136, 136);
$color-grey-dark-2: #4b4b4b;
$color-grey-dark-3: #3a3a3a;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #68a08b;
$color-secondary:  #ee6a3a;
$color-tertiary: #FED44A; 

$header: '../assets/images/junkanoo.jpg'; 
$activities: '../assets/images/floral-pattern.jpg';