.special-event {
    .red {
        color: red;
    }
    .green {
        color: green;
    }

    // @supports (-webkit-text-fill-color: transparent) {
    //     background: linear-gradient(to right,
    //     #c94040,
    //     #c94040 40%,
    //     #12851f 60%,
    //     #12851f);
    //     background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }
}

.calendar {
    width: 42%;

    @include respond(tabLand) {
        width: 50%;
    }

    @include respond(phone) {
        width: 100%;
    }

    @include flexSupport {
        flex-basis: 42%;

        @include respond(tabLand) {
            flex-basis: 50%;
        }

        @include respond(phone) {
            flex-basis: 100%;
        }
    }

    &__container {
        margin: 0 auto;
        display: table;
        overflow: hidden;
        padding: 1.5rem;

        @include respond(phone) {
            margin: 0;
            display: block;
            padding: 3rem;
        }
    }

    &__events {
        @include respond(tabLand) {
            column-count: 2;
            column-gap: 2rem;
            column-rule: 1px solid $color-grey-light-2;
        }

        @include respond(tinyPhone) {
            column-count: 1;
            column-gap: 0;
            column-rule: none;
        }
    }

    &__event {
        margin-bottom: 1rem;
        width: 100%;

        &--date {
            white-space: nowrap;
            display: inline-block;
            vertical-align: top;
            padding-right: 1.5rem;
            width: 40%;
        }

        &--details {
            white-space: wrap;
            display: inline-block;
            vertical-align: top;
            width: 60%;
        }
    }
}
