.comment {
    text-align: start;
    width: 40rem;
    max-width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 2rem;
    background: rgba($color-tertiary, 0.2);
    animation: fadeIn 2s;

    &__user {
        display: flex;
        align-items: center;
        &--author {
            font-weight: 400;
            color: $color-primary;
            font-size: 2rem;
        }

        &--flag {
            margin-right: 1rem;
            width: 4rem;
            height: 2rem;
        }
    }

    &__content {
    }
}
