.feed {
    padding: 3rem;
    text-align: center;

    @include respond(desk) {
        padding-top: 6rem;
    }

    @include respond(phone) {
        padding-top: 3rem;
    }

    &__controls {
        background: transparent;
        border: none;
        font-size: 3rem;

        &--current {
            font-weight: 600;
            font-size: 3rem;
            margin: 0 1rem;
        }
    }

    &__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
}

.individual-post {
    text-align: center;

    &__container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include respond(tabLand) {
            margin-top: 6rem;
        }

        @include respond(phone) {
            margin-top: 0;
        }
    }
}
