.post {
    text-align: start;
    padding: 3rem;
    margin: 1.5rem auto;
    min-width: 40rem;
    width: 60%;
    background: white;

    &__feed {
        text-align: start;
        margin: 1.5rem auto;
        width: 40rem;
    }

    &__comments {
        text-align: end;
        margin-top: -0.25rem;
    }

    &__title {
        margin-bottom: -2rem;
    }

    &__author {
        padding-top: 1rem;
        text-align: right;
        font-size: 1.5rem;
        margin-bottom: -0.3rem;
        font-weight: 400;
        color: $color-primary;
    }
    &__content {
        margin-top: 2rem;
        font-size: 1.7rem;
        border-top: 3px solid rgba($color-tertiary, 0.4);
        padding-top: 1rem;
    }

    &__date {
        text-align: end;
    }
}
