body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark-2;
    font-size: 1.6rem;

    @include respond(tabLand) {
        font-size: 1.8rem;
    }

    @include respond(phone) {
        font-size: 1.9rem;
    }
}

.section {
    &__title {
        padding-bottom: 1.25rem;
    }
}

strong {
    color: $color-secondary;
}
.caricom__text a,
.caricom__text a:active,
.caricom__text a:link,
.caricom__text a:hover
.caricom__text a:visited, {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    color: $color-primary;    
}